<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-2">
    <%= form.label :title, class: "block text-sm" %>
    <%= form.text_field :title, class: "p-1 border rounded" %>
  </div>

  <div class="mb-2">
    <%= form.label :body, class: "block text-sm" %>
    <%= form.textarea :body, class: "p-1 border rounded" %>
  </div>

  <div class="mb-2">
    <%= form.label :author_id, class: "block text-sm"%>
    <%= form.select :author_id, Author.all.map { [_1.name, _1.id] }, {}, { class: "p-1 border rounded appearance-none pr-8" } %>
  </div>

  <div>
    <%= form.submit class: "p-2 rounded bg-orange-600 text-white cursor-pointer" %>
  </div>
<% end %>
